# General Configurations
PROJECT_NAME=Reflexion
SECRET_KEY=generate-a-secure-secret-key-for-jwt-tokens

# Database Connection (Neon Postgres url in production, local postgres url in development)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/reflexion

# GitHub OAuth App details
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

# Gemini API credentials
GEMINI_API_KEY=your-gemini-api-key
